<mat-card class="search-card">
  <mat-card-content class="search-card-content">
    <form class="mat-form" #f="ngForm">
      <mat-form-field [floatLabel]="'never'" class="search-form">
        <input type="text" matInput [(ngModel)]="searchValue" name="searchValue" id="search-value"/>
        <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-placeholder>
          <mat-icon>search</mat-icon>
          <i>Search</i>
        </mat-placeholder>
      </mat-form-field>
      <button mat-button color="primary" (click)="search()" id="search-button" [disabled]="searchButtonDisabled">
        Search
      </button>
    </form>
  </mat-card-content>
</mat-card>
