<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <form class="mat-form" #f="ngForm">
    <mat-form-field>
      <input matInput ngModel name="id" placeholder="ID" required/>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel name="password" placeholder="Password" [type]="ifHidePassword ? 'password' : 'text'"
             required/>
      <mat-icon matSuffix (click)="ifHidePassword = !ifHidePassword">{{ifHidePassword ? 'visibility_off' :
        'visibility'}}
      </mat-icon>
    </mat-form-field>
    <mat-error *ngIf="loginFailMsg.length !=0">{{loginFailMsg}}</mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <ng-container *ngIf="!isLoginPage">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button type="submit" (click)="f.valid && onSubmit(f)">submit</button>
  </ng-container>
  <ng-container *ngIf="isLoginPage">
    <button mat-raised-button color="primary" type="submit" (click)="f.valid && onSubmit(f)">submit</button>
  </ng-container>
</mat-dialog-actions>
