security.token.key=
security.token.header=X-AUTHENTICATION
security.token.prefix=Athena

security.token.expirationtime=864000000
search.default.count=20
search.limit.expiredtime=60
search.limit.get.times=3
search.limit.prefix=Athena-Search-Limit-

web.url=http://localhost:8080/api/v1
web.url.prefix=/api/v1

privilege.sequence=SUPERADMIN,ADMIN,READER

copy.status.isDeletable=0,1

# how many publication can user borrow
borrow.publication.limit=4

# use which way to notify admin for system info
message.system.method=WebSocketMessenger
message.system.receiver=SUPERADMIN