@mixin book-detail-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #book-details {
    background-color: mat-color($background, background);
    > mat-card {
      background-color: white;
    }

    mat-expansion-panel-header {
      background: mat-color($primary);
      mat-panel-title{
        color: mat-color($primary, default-contrast);
      }
    }
  }
  .book-title {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

}
