.basic-info {
  margin-top: 20px;
}

div#book-details {
  display: flex;
  justify-content: center;
  height: 100%;

  > mat-card {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .introduction {
    height: 100%;
  }

}

app-publication-preface {
  height: 100%;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

app-publication-basic-info {
  height: 90%;
  width: 90%;
}

.book-title {
  width: 100%;

  h1 {
    margin-left: auto;
    margin-bottom: auto;
  }
}
