@import '~@angular/material/theming';

.basic-info {
  margin-top: 20px;
}

div#book-details {
  display: flex;
  justify-content: center;
  height: 100%;

  > mat-card {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }

  > mat-accordion {
    display: none;
  }

  .introduction {
    height: 100%;
  }

  .basic-info {

    app-publication-preface {
      height: 100%;
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
    }

    app-publication-basic-info {
      height: 90%;
      width: 90%;
    }
  }
}

.book-title {

  h1 {
    margin-left: auto;
    margin-bottom: auto;
  }
}

@media(max-width: 720px) {
  .book-title {
    display: none;
  }

  .mat-expansion-panel-body {
    padding-top: 20px;

  }

  div#book-details {
    display: flex;
    justify-content: center;
    height: 100%;

    > mat-card {
      width: 100%;
      display: none;
    }

    > mat-accordion {
      width: 90%;
      display: block;
      margin-top: 20px;

      ::ng-deep .mat-expansion-panel-body {
        padding-top: 10px;
      }

      mat-expansion-panel-header{
        @include mat-elevation(2);
      }
    }

    .introduction {
      height: 100%;
    }

  }
}
