<div *ngIf="book">
  <mat-card class="book-title"><h1>{{book.title}}</h1></mat-card>
  <div id="book-details">
    <mat-card>
      <!--For Normal Display-->
      <mat-tab-group>
        <mat-tab label="Basic Info">
          <div class="basic-info">
            <mat-grid-list [cols]="2" rowHeight="2:1">
              <mat-grid-tile [colspan]="1" [rowspan]="2">
                <app-publication-preface [source]="book.preface"></app-publication-preface>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="2">
                <app-publication-basic-info [publication]="book">
                </app-publication-basic-info>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div class="introduction">
                  {{book.introduction}}
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-tab>
        <mat-tab label="Copy Info">
          <app-publication-copy-table *ngIf="book.copies" [copy]="book.copies"></app-publication-copy-table>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <mat-accordion>
      <!--For Small Display-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preface
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-publication-preface [source]="book.preface"></app-publication-preface>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-publication-basic-info [publication]="book"></app-publication-basic-info>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Introduction
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="introduction">
          {{book.introduction}}
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Copy Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--todo: Copy info-->
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
