@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './app/shared/navbar/navbar-theme';
@import './app/pages/home-page/home-page-theme';
@import './app/pages/publication-page/publication-page-theme';
@import '../node_modules/@angular/material/theming';

@mixin material-docs-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  @include nav-bar-theme($theme);
  @include home-page-theme($theme);
  @include publication-page-theme($theme);
}

// Include material core styles.
@include mat-core();


// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include material-docs-app-theme($theme);


body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
}

h1, h2 {
  font-weight: 400;
}
