@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './app/shared/navbar/navbar-theme';
@import './app/pages/home-page/home-page-theme';
@import './app/pages/publication-page/publication-page-theme';
@import './app/pages/book-detail-page/book-detail-page-theme';
@import './app/pages/login-page/login-page-theme';
@import './app/pages/user-page/user-page-theme';
@import '~@angular/material/_theming';

@mixin material-docs-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  body {
    background-color: mat-color($background, background);

  }

  @include nav-bar-theme($theme);
  @include home-page-theme($theme);
  @include publication-page-theme($theme);
  @include book-detail-page-theme($theme);
  @include user-page-theme($theme);
  @include login-page-theme($theme);
}

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);

$theme: mat-light-theme($primary, $accent);

@include material-docs-app-theme($theme);

body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
}

h1, h2 {
  font-weight: 400;
}

app-login-page {
  overflow: hidden;
}

