{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Athena",
    "license": {
      "name": "MIT"
    }
  },
  "host": "athena.io/api",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/books": {
      "get": {
        "summary": "搜索书籍",
        "operationId": "searchBooks",
        "parameters": [
          {
            "in": "query",
            "type": "string",
            "name": "publisher",
            "required": false,
            "description": "出版社名称"
          },
          {
            "in": "query",
            "type": "string",
            "name": "title",
            "required": false,
            "description": "书名"
          },
          {
            "in": "query",
            "name": "author",
            "type": "array",
            "items": {
              "type": "string",
              "uniqueItems": true
            },
            "required": false,
            "description": "作者名称，如果由提供多个，则寻找包含所有作者的书籍"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer",
            "minimum": 1,
            "description": "每页结果数量最大值",
            "required": false,
            "default": 20
          }
        ],
        "responses": {
          "200": {
            "description": "查找到的所有书籍",
            "headers": {
              "X-Total-Count": {
                "type": "integer",
                "description": "结果总数"
              },
              "Link": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "<(http|https)://(.*)>;ref=\"(first|last|previous|next)\""
                },
                "description": "分页相关链接"
              }
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "获得用户信息",
        "operationId": "getUserInfo",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string",
            "description": "指明传入的是WechatId还是用户ID，默认用户ID"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "指明用户ID（如果指定了type参数，则根据type参数进行查询）"
          }
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "用户信息",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "404": {
            "description": "用户未找到",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "summary": "修改用户信息",
        "operationId": "modifyUser",
        "parameters": [
          {
            "in": "body",
            "name": "user_info",
            "type": "object",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "required": true,
            "description": "修改的用户信息（增量修改）"
          },
          {
            "in": "header",
            "name": "X-AUTHENTICATION",
            "type": "string",
            "required": true,
            "description": "JWT鉴权码"
          }
        ],
        "responses": {
          "200": {
            "description": "修改成功",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "登陆",
        "operationId": "login",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "userInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "登陆成功",
            "headers": {
              "X-AUTHENTICATION": {
                "type": "string",
                "description": "JWT鉴权码"
              }
            }
          },
          "404": {
            "description": "鉴权失败"
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "msg": {
          "type": "string"
        }
      },
      "required": [
        "code",
        "msg"
      ]
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "the user id"
        },
        "username": {
          "type": "string",
          "description": "the username"
        },
        "password": {
          "type": "string",
          "description": "the password"
        },
        "wechat_id": {
          "type": "string"
        },
        "identity": {
          "type": "string",
          "enum": [
            "SUPERADMIN",
            "ADMIN",
            "READER"
          ]
        },
        "phone_number": {
          "type": "string"
        }
      }
    },
    "LoginInfo": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "微信客户端发送的鉴权用code"
        }
      }
    },
    "Book": {
      "type": "object",
      "description": "图书对象",
      "properties": {
        "isbn":{
          "type":"string",
          "description":"ISBN号"
        }
      }
    },
    "Publisher":{
      "type":"object",
      "description": "出版社",
      "properties": {
        "id":{
          "type":"string",
          "description":"出版社编号"
        },
        "name":{
          "type":"string",
          "description":"出版社名称"
        },
        "location":{
          "type":"string",
          "description":"出版社所在城市"
        }
      }
    },
    "BookSearchResult": {
      "type": "object",
      "description": "图书搜索结果",
      "properties": {
        "count": {
          "type": "integer",
          "minimum": 1,
          "description": "查询结果总数"
        },
        "limit": {
          "type": "integer",
          "minimum": 1,
          "default": 20,
          "description": "每页查询结果限制"
        },
        "offset": {
          "type": "integer",
          "default": 0,
          "description": "已经返回了多少结果，即本次返回的第一个结果数-1"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Book"
          },
          "description":"结果"
        }
      }
    }
  },
  "responses": {
    "Unauthorized": {
      "description": "未授权",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  }
}