@mixin nav-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-navbar {
    color: mat-color($primary, default-contrast);

    .docs-navbar, .docs-navbar-header {
      background: mat-color($primary);
    }
  }

  .mat-menu-panel {
    background-color: mat-color($primary);
  }

  .mat-menu-item {
    color: mat-color($primary, default-contrast);
  }

  .mat-menu-item .mat-icon:not([color]), .mat-menu-item-submenu-trigger::after {
    color: mat-color($primary, default-contrast);
  }
}
