<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo"
         src="../../../assets/img/homepage/angular-white-transparent.svg"
         alt="angular">
    <span>Athena</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button"
     *ngFor="let key of sectionKeys" [routerLink]="[sections[key].path]">{{sections[key].name}}</a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="guides">User Guides</a>
  <div class="flex-spacer"></div>
  <a *ngIf="!authService.user" mat-button class="docs-button docs-navbar-hide-small" aria-label="Login"
     (click)="openLogin()">
    <i class="material-icons">account_circle</i>
    {{'Login'}}
  </a>
  <a *ngIf="authService.user" mat-button class="docs-button docs-navbar-hide-small" aria-label="User"
     [matMenuTriggerFor]="userMenu">
    <i class="material-icons">account_circle</i>
    {{authService.user.username}}
  </a>
  <a *ngIf="!authService.user" mat-icon-button class="docs-button docs-navbar-show-small" aria-label="Login"
     (click)="openLogin()">
    <i class="material-icons">account_circle</i>
  </a>
  <a *ngIf="authService.user" mat-icon-button class="docs-button docs-navbar-show-small" aria-label="User"
     [matMenuTriggerFor]="userMenu">
    <i class="material-icons">account_circle</i>
  </a>
  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
    <a mat-menu-item [routerLink]="['user/setting']">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </a>
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <a mat-button class="docs-navbar-link"
     *ngFor="let key of sectionKeys" [routerLink]="[sections[key].path]">{{sections[key].name}}</a>
  <a mat-button class="docs-navbar-link" routerLink="guides">User Guides</a>
</nav>
