<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo"
         src="../../../assets/img/homepage/angular-white-transparent.svg"
         alt="angular">
    <span>Athena</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button"
     *ngFor="let key of sectionKeys">{{sections[key]}}</a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="guides">User Guides</a>
  <div class="flex-spacer"></div>
  <a *ngIf="!username" mat-button class="docs-button docs-navbar-hide-small" aria-label="Login" (click)="openLogin()">
    <i class="material-icons">account_circle</i>
    {{'Login'}}
  </a>
  <a *ngIf="username" mat-button class="docs-button docs-navbar-hide-small" aria-label="User">
    <i class="material-icons">account_circle</i>
    {{username}}
  </a>
  <a *ngIf="!username" mat-icon-button class="docs-button docs-navbar-show-small" aria-label="Login" (click)="openLogin()">
    <i class="material-icons">account_circle</i>
  </a>
  <a *ngIf="username" mat-icon-button class="docs-button docs-navbar-show-small" aria-label="Login">
    <i class="material-icons">account_circle</i>
  </a>
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <a mat-button class="docs-navbar-link"
     *ngFor="let key of sectionKeys">{{sections[key]}}</a>
  <a mat-button class="docs-navbar-link" routerLink="guides">User Guides</a>
</nav>
