.container {
  min-height: 1080px;
  .side-nav-drawer {
    width: 15%;
    height: 100%;

    .side-nav {
      .mat-list-icon {
        color: rgba(0, 0, 0, 0.54);
      }

      margin: 30px;
      padding: 5px;

    }
  }

  .setting {
    margin: 20px auto 10px;
    overflow-x: hidden;
    width: 80%;

    .setting-form-group {
      // a group of setting input
      margin-top: 10px;
      mat-form-field {
        display: block;
        width: 60%;
      }
    }
  }
}
