@mixin home-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-home-page {
    .header-background {
      background: mat-color($primary);
    }

    .header-headline {
      color: mat-color($primary, default-contrast);
    }

    .header-start {
      color: mat-color($primary);
    }

    .homepage-row {
      color: mat-color($foreground, secondary-text);
    }
  }
}
