<mat-table [dataSource]="copy">
  <!--Col Definition-->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-chip-list [ngSwitch]="element.status | copyStatus" [selectable]="false">
        <mat-chip *ngSwitchCase="'AVAILABLE'" color="primary"  [selected]="true">Available</mat-chip>
        <mat-chip *ngSwitchCase="'WAIT_FOR_VERIFY'" color="accent" [selected]="true">Wait for verify</mat-chip>
        <mat-chip *ngSwitchCase="'CHECKED_OUT'" color="accent" [selected]="true">Checked out</mat-chip>
        <mat-chip *ngSwitchCase="'RESERVED'" color="accent" [selected]="true">Reserved</mat-chip>
        <mat-chip *ngSwitchCase="'BOOKED'" color="accent" [selected]="true">Booked</mat-chip>
        <mat-chip *ngSwitchCase="'DAMAGED'" color="warn" [selected]="true">Damaged</mat-chip>
        <mat-chip *ngSwitchCase="'CREATED'" disabled>Created</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="createAt">
    <mat-header-cell *matHeaderCellDef> Create At </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.createDate}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="updateAt">
    <mat-header-cell *matHeaderCellDef> Update At </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.updateDate}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
